@keyframes app_uploader_fog_camera_pulse {
    from {
        transform: scale(0.7);
    }
    50% {
        transform: scale(1);
    }
    to {
        transform: scale(0.7);
    }
}
.uploader {
    position: relative;
}
.uploader\/fetching .uploader-zone-fog-img {
    animation: app_uploader_fog_camera_pulse 2s linear infinite;
}
.uploader\/withUrl .uploader-zone {
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.uploader\/withControls .uploader-zone-fog-caption {
    margin-top: 0;
    bottom: 0;
}
.uploader\/withControls .uploader-zone-fog-img {
    width: 2.6rem;
    top: 0.3rem;
}
.uploader\/withControls .uploader-zone-fog-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    position: relative;
    bottom: 0.3rem;
}
.uploader\/withControls .uploader-zone-fog-or {
    font-size: 80%;
}
.uploader\/withControls .uploader-zone-fog-controls > * {
    margin: 0 0.3rem;
}
.uploader\/withControls .uploader-zone-fog-controls-control {
    height: 1.6rem;
    width: 1.6rem;
    fill: white;
}
.uploader img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
}
.uploader-url-addon {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-left-width: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: .25rem;
}
.uploader-url-addon svg {
    margin-right: 0.6rem;
    fill: #495057;
    height: 1.4rem;
}
.uploader-url-input {
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    flex-grow: 1;
    margin-bottom: 0;
}
.uploader-url-input:focus {
    outline: none;
}
.uploader-url {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-flow: row;
    cursor: pointer;
}
.uploader-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    height: 14rem;
    overflow: hidden;
    position: relative;
    border-radius: 500rem;
    color: white;
}
.uploader-zone-fog {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.uploader-zone-fog:hover {
    background: rgba(0, 0, 0, 0.5);
}
.uploader-zone-fog-caption {
    width: 80%;
    text-align: center;
    position: relative;
    bottom: 1rem;
    margin-top: 1rem;
    text-shadow: 0 0 0.5rem black;
}
.uploader-zone-fog-img {
    width: 5rem;
    fill: white;
    position: relative;
    top: 1rem;
}
.uploader-input {
    position: fixed;
    top: -9999px;
    left: -9999px;
}

/*# sourceMappingURL=/examples.e31bb0bc.css.map */